.App {
  text-align: center;
}
#pfp {
  height:200px;
  width:200px;
}
#show {
  border-radius:15px;
}
.profilebuttons {
  min-width:400px;
 align-self:center;
}
#this {
  display:flex;
  flex-direction:column;
}
.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}
#profile {
  min-height:100%;
        animation: transitionIn 3s;
  background-size:cover;
  background: transparent; 
}

#profile:after {
  content:"";
position: fixed;
left: 0;
top: 0;
right: 0;
bottom: 0;
z-index: -1;

background-size: cover;
}
.background:after {
position:fixed;
  background-size: 100%;
  background-image: linear-gradient(0deg, rgba(0, 0, 2, 0.989), rgba(24, 5, 60, 0.89));
  background-repeat: repeat;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: -1;
}
  
    #animar {
          max-width: 800px;
          margin: 0 auto;
      }
      .displaynone {
          display:none;
      }  

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

